body {
    margin: 0;

    height: 100vh;

    background-color: rgb(230, 230, 230);
}

#container {
    display: flex;

    height: 100%;
    width: 100%;

    justify-content: center;
    align-items: center;
}

#show-lightbox {
    background-color: orange;
    box-shadow: none;
    cursor: pointer;

    border: none;
    border-radius: 0.5rem;

    font-weight: bold;
    font-size: large;

    padding: 1rem;

    transition: .1s ease-in-out;
}
#show-lightbox:hover{
    box-shadow: white 0px 7px 29px 0px;
}

.bright-text {
    color: white;
}