@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

body {
    margin: 0;

    height: 100vh;

    background-color: rgb(22, 2, 22);
}

#container {
    display: flex;

    height: 100%;
    width: 100%;

    justify-content: center;
    align-items: center;
}

#show-lightbox {
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    box-shadow: none;
    cursor: pointer;

    border: none;
    border-radius: 5rem;

    font-weight: bold;
    font-size: large;

    padding: 1rem;

    transition: 0.2s ease;
}
#show-lightbox:hover{
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 29px 0px;
}

.bright-text {
    color: white;
    font-family: "Lexend", sans-serif;
    font-weight: 400;
}